<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <div class="wrapper">
        <div class="fundo-branco">
            <h1 class="titulo-login">Criar Cadastro</h1>
            <img class="icone-login" src="/images/icone-logar-verde.png">
            <div class="div-cadastro">
                <button class="btn-cadastro" onclick="location.href='/cadastro-cliente'">Sou Cliente</button>
                <button class="btn-cadastro" onclick="location.href='/cadastro-vendedor'">Sou Vendedor</button>
                <a class="link-cadastro" href="/logar">Já tenho uma conta</a>
            </div>
        </div>
    </div>
</body>
</html>