<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
</head>
<body>
    <div class="wrapper">
        <div class="centralizar">
            <div class="div-logo">
                <img class="logo-img" src="/images/white-logo.png">
                <h1 class="logo-tipo">SR. CAMELÔ</h1>
            </div>
            <div class="div-btn">
                <button class="btn-logar" onclick="location.href='/logar'">Logar</button>
                <a class="link-cadastro" href="/cadastro">Não tenho uma conta</a>
            </div>
        </div>
    </div>
</body>
</html>